body {
    font-family: Tahoma;
    background: #9dc08b;
    min-width: 800px;
}

.header {
    text-align: center;
}

.header p {
    font-size: 40px;
    color: white;
    text-align: center;
    font-weight: bold;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #FEFFAC,
    0 0 82px #FEFFAC,
    0 0 92px #FEFFAC,
    0 0 102px #FEFFAC,
    0 0 151px #FEFFAC;
}
}

.rotacija {
    transform: rotate(-25deg);
}

.header {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
}

.rotacija {
    max-width: 100%;
    max-height: 100%;
}

.rotacija1 {
    max-width: 100%;
    max-height: 100%;
}

.rotacija1 {
    transform: rotate(25deg);
}

.rotacija:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake-reverse {
    0% { transform: translate(-1px, -1px) rotate(0deg); }
    10% { transform: translate(1px, 2px) rotate(1deg); }
    20% { transform: translate(3px, 0px) rotate(-1deg); }
    30% { transform: translate(-3px, -2px) rotate(0deg); }
    40% { transform: translate(-1px, 1px) rotate(-1deg); }
    50% { transform: translate(1px, -2px) rotate(1deg); }
    60% { transform: translate(3px, -1px) rotate(0deg); }
    70% { transform: translate(-3px, -1px) rotate(1deg); }
    80% { transform: translate(1px, 1px) rotate(-1deg); }
    90% { transform: translate(-1px, -2px) rotate(0deg); }
    100% { transform: translate(-1px, 2px) rotate(1deg); }
}

.rotacija1:hover {
    animation: shake-reverse 0.5s;
    animation-iteration-count: infinite;
}


@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.p {
    font-size: 70px;
}

.navigation {
    display: grid;
    max-width: 1500px;
    margin: 0 auto;
    overflow: hidden;
}

@media screen and (min-width: 1150px) {
    .navigation {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    }
}

@media screen and (max-width: 1149px) {
    .navigation {
        grid-template-columns: 1fr 1fr 1fr; 
    }
}

.navigation a {
    display: inline-block;
    padding: 14px 20px;
    margin-left: 1.5%;
    margin-right: 1.5%;
    text-align: center;
}

.navigation span {
    display: inline-block;
    color: #40513b;
    padding: 14px 50px;
    font-size: 60px;
    margin: 0 auto;
}

.navigation a:hover {
    background-color: #edf1d6;
}

.paragraf {
    padding: 70px;
    max-width: 1500px;
    margin: 0 auto;
}

.paragraf h2 {
    margin: 1% auto;
    font-size: 30px;
    color: #609966;
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.paragraf1 {
    background-color: #9dc08b;
    padding: 20px;
    margin-top: 40px;
    margin-left: 5%;
}

.paragraf1 p {
    color: white;
    text-align: center;
    font-size: 25px;
}

.paragraf2 {
    background-color: #9dc08b;
    padding: 20px;
    margin-top: 100px;
}

.paragraf2 p {
    font-size: 25px;
    text-align: center;
    color: white;
}

.levo {
    float: left;
    width: 50%;
}

.desno {
    float: left;
    width: 45%;
    padding-left: 2%;
}

.red::after {
    content: "";
    display: table;
    clear: both;
}

.paragraf3 {
    padding: 20px;
    margin-top: 40px;
}

.paragraf3 p,ul {
    font-size: 25px;
    color: white;
    text-align: center;
    list-style-type: none;
}

.paragraf3 a {
    color: #40513b;
    text-decoration: none;
}

.izvori {
     padding: 20px;
    margin-top: 20px;
    text-align: center;
}

.izvori p,ul{
 font-size: 25px;
    color: white;
    list-style-type: none;
}

.izvori a{
   color:white;
    text-decoration: none;
}

.footer {
    padding: 30px;
    text-align: center;
    background: #609966;
    margin-top: 2%;
    display: block;
}

.footer a{
  color:black;
  text-decoration: none; 
}

.footer a:hover{
  color:darkgrey;
  text-decoration: none; 
}

.footer a:visited { 
 text-decoration: none; 
 color: black; 
}

.footer h2 {
    color: black;
}

@media screen and (max-width: 1100px) {
    .levo,
    .desno {
        width: 100%;
        padding: 0;
    }
}
